* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #dfdfdf
}

.grid {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 385px;
    height: 385px;
    flex-wrap: wrap;
    background: #d3d3d3;
    /*margin: 50px auto;*/
}

.grid .space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    background: #dfdfdf;
}

.grid .space .figure {
    color: #3d3d3d;
}
.grid .space .figure.red {
    color: #b61f1f;
}

#playerID {
    margin-top: 25px;
    font-family: sans-serif;
    color: #3d3d3d;
}

.desc {
    margin-top: 45px;
    font: 11px sans-serif;
    max-width: 450px;
    color: #3d3d3d;
}
.desc a {
    color: #3d3d3d;
}
.desc a:hover {
    color: #b61f1f;
}

/*  X   */
.figure {
    width: 0;
    height: 0;
    /*transition: width .4s ease-in-out;*/
    transition: all .4s cubic-bezier(0.19, 1.1, 0.79, 1.4);
}

.x {
    /*background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='10' fill='#b61f1f'/></svg>")  no-repeat;;*/
    -webkit-mask: url(/resources/svg/x.svg) no-repeat 50% 50%;
    mask: url(/resources/svg/x.svg) no-repeat 50% 50%;
    background-color: #3d3d3d;

    width: 64px;
    height: 64px;
}

.o {
    -webkit-mask: url(/resources/svg/o.svg) no-repeat 50% 50%;
    mask: url(/resources/svg/o.svg) no-repeat 50% 50%;
    background-color: #3d3d3d;

    width: 69px;
    height: 69px;
}
.red {
    background-color: #b61f1f;

    animation: pulse;
}

/*home*/

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons .button {
    font: 16px sans-serif;
    color: #3d3d3d;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background: darkseagreen;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #d3d3d3;
}

.buttons .find-button {
    background: lightblue;
}

.buttons .button:hover {
    opacity: .8;
}
.buttons .button:hover:active {
    box-shadow: 0 5px 10px 0 inset;
}
.buttons .error {
    font: 12px sans-serif;
    color: #b61f1f;
    width: 220px;
    text-align: center;
}